.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-btn {
  background-color: #007bff;  /* Bootstrap Primary Color */
  border: none;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background-color: #0056b3; /* Darker Blue on Hover */
  transform: scale(1.05); /* Slight scale-up effect */
}


.project-card-view img {
  opacity: 1 !important;   /* Forces full opacity */
}
